* {
    padding: 0;
    margin: 0;
}

header {
    background-color: rgba(52, 55, 59, 0.9);
    height: 90px;
    width: 100%;
    position: fixed;
}
h1 {
    color: rgb(255, 255, 255);
    position: absolute;
    left: 120px;
    top: 0;
    line-height: 90px;

}

header a {
    font-size: 20px;
    color:rgb(255, 255, 255);
    text-decoration: none;
}
header a:hover {
    text-decoration: underline;
}
header li {
    display: inline;
    margin-right: 4vw;
}
header ul {
    position: absolute;
    right: 1vw;
    top: 0;
    line-height: 90px;
}

.Top {
    background-color: antiquewhite;
    color: white;
    height: 85vh;
    background-image: url(images/dark2.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}
.Top h2 {
    font-size: 60px;
    padding-top: 45px;
}
.Top p {
    font-size: 20px;
    margin: 30px 0;
    padding-top: 35px;
}
.About p{
    font-size: 25px;
    padding: 30px ;
    line-height: 60px;
    margin-bottom: 50px;
}
.Title {
    font-size: 30px;
    padding: 10px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(224, 224, 224, 0.9);
    margin: 0 auto;
    margin-bottom: 50px;
}
.Process1 p {
    font-size: 25px;
    padding: 30px 30px;
    height: 300px;
    line-height: 60px;
    margin-bottom: 150px;
}
.Process1 a {
    color: rgb(76, 76, 148);
    text-decoration: none;
}
.Process1 a:hover {
    text-decoration: underline;
}
.Process2 {
    display: flex;
    margin-bottom: 100px;
}
.Process2 img {
    display: flex;
    width: 50%;
    padding: 30px;
}
.info {
    font-size: 25px;
    width: 50%;
    padding: 30px 30px 30px 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 60px;
}
.Reflection {
    font-size: 25px;
    padding: 30px 30px;
    line-height: 60px;
    height: 700px; 
    margin-bottom: 270px;  
}
.Reflection2 img {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

}
.pic p {
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px;
    margin-bottom: 50px;

}
.sss {
    background-color: bisque;
}
footer {
    background-color: rgb(52, 55, 59, 0.8);
    padding: 30px 0;
}
footer p {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.menu {
    display: none;
}

/* 響應式設計語法 */
@media screen and (max-width: 768px){
    header ul {
        display: none;
    }
    header h1 {
        left: 50%;
        transform: translateX(-50%);
    }
    .Top h2 {
        font-size: 45px ;
        margin-bottom:-30px;
    }
    .menu {
        display: block;
        background-color: transparent;
        color: white;
        font-size: 35px;
        position: absolute;
        top: 15px;
        left: 40px;
        border: none;
        cursor: pointer;
    }
    .Process1 {
        margin-bottom: 600px;
    }
    .Process2 {
        flex-direction: column;
    }
    .Process2 img {
        width: 90%;
        margin: 0 auto;
        margin-bottom: -20px;
    }
    .info {
        margin: 0 auto;
        width: 90%;
        padding: 10px;
        align-items: center;
        justify-content: center;
        margin-right: 10px;

    }
    .Reflection2 {
        gap: 40px;
    }
    .Process1 + .Process2 {
        margin-top: 40px;
    }
    .Reflection {
        margin-bottom: 1000px;
    }
}